.envrc
.DS_Store
.vscode
findy.bolt
.docker
configs/genesis_transactions
findy.json
exports/
.idea
tmp/
scripts/client?00/
scripts/op-sa/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.secrets
Dockerrun.aws.json
s3.config

*cli.code-workspace
